/*------------------------------------*\
    $KEYFRAMES
\*------------------------------------*/
/**
 * KEYFRAMES.........Vous êtes en train de le lire
 * BASE..............Reset et propriétés de base
 * COMPONENT.........Les composants réutilisables
 * FONT..............Les polices de caractère
 * PIECE.............Positionnement des pièces et divers effets
 */

@keyframes gravity1 {
  0% { top: -7px; transform: rotate(0deg) rotateY(-10deg) rotateX(10deg);}
  100% { top: 8px; transform: rotate(4deg) rotateY(-30deg) rotateX(12deg);}
}

@keyframes gravity2 {
  0% { top: -10px; transform: rotate(0deg) rotateY(-10deg) rotateX(-15deg);}
  100% { top: 10px; transform: rotate(-5deg) rotateY(-25deg) rotateX(-30deg);}
}

@keyframes clock {
  0% { top: -27px; left:-30px; transform: translate(-50%, -50%) rotate(-50deg);}
  16.6666%{top: 62px; left:-45px; transform: translate(-50%, -50%) rotate(-110deg);}
  33.3333%{top: 119px; left:23px; transform: translate(-50%, -50%) rotate(-170deg);}
  50%{top: 88px; left:108px; transform: translate(-50%, -50%) rotate(130deg);}
  66.6666%{top: 0px; left:124px; transform: translate(-50%, -50%) rotate(70deg);}
  83.3333%{top: -58px; left:55px; transform: translate(-50%, -50%) rotate(10deg);}
  100% {top: -27px; left:-30px; transform: translate(-50%, -50%) rotate(-50deg); }
}

@keyframes pulse{
  0%{transform: translate(-50%, -50%) scale(0.9, 0.9) rotate(10deg);}
  12%{transform: translate(-50%, -50%) rotate(10deg);}
  100%{transform: translate(-50%, -50%) rotate(10deg);}
}
