/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * MAIN..............Vous êtes en train de le lire
 * BASE..............Reset et propriétés de base
 * COMPONENT.........Les composants réutilisables
 * FONT..............Les polices de caractère
 * KEYFRAMES.........Les keyframes utilisés en version mobile
 * PIECE.............Positionnement des pièces et divers effets
 */

#intro .piece-container{
  height: 200px;
  justify-content: space-around
}

#babystep .piece-container{
  height: 370px
}

#move .piece-container{
  height: 220px
}

#mecanic .piece-container{
  height: 360px
}

#strategy .piece-container{
  height: 250px
}

#contact .content{
  text-align: center;
  padding: 15px 20px
}


/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 750px) {
  #intro{
    display: block
  }

  #intro .piece-container{
    height: 200px
  }

  #intro .piece-container:first-child{
    float: right
  }

  #intro .content{
    height: 400px;
    float: left
  }

  #intro .content:after{
    content: "";
    border-right: 1px solid #D3D3D3;
    transform: translate(0,-50%);
    position: absolute;
    right: 0;
    top: 50%;
    height: 60%
  }

  #babystep{
    height: 320px
  }

  #babystep .content{
    height: 200px;
    border-left: 1px solid #D3D3D3;
    order: 1
  }

  #move{
    height: 500px
  }

  #move .piece{
    left: 55px;
    top: -60px
  }

  #move .content{
    height: 200px;
    border-right: 1px solid #D3D3D3
  }

  #mecanic{
    height: 500px
  }

  #mecanic .piece{
    left: -75px;
    top: 40px
  }

  #mecanic .content{
    height: 250px;
    border-left: 1px solid #D3D3D3;
    order: 1
  }

  #strategy{
    height: 400px
  }

  #strategy .content{
    height: 200px;
    border-right: 1px solid #D3D3D3
  }

  #contact{
    flex-direction: column;
    align-items: flex-start
  }

  #contact .background{
    height: 500px;
    width: 100%;
    background-image: url(../img/contact2.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1
  }

  #contact .content{
    display: none
  }

}
