/*DOING : Clean css and do more reusable component*/
/*------------------------------------------------------

  #####  ####### #     # ####### ######     #    #
 #     # #       ##    # #       #     #   # #   #
 #       #       # #   # #       #     #  #   #  #
 #  #### #####   #  #  # #####   ######  #     # #
 #     # #       #   # # #       #   #   ####### #
 #     # #       #    ## #       #    #  #     # #
  #####  ####### #     # ####### #     # #     # #######

------------------------------------------------------*/

/*Custom fonts*/
@font-face {
  font-family: "orphans";
  src:url('../font/dreamOrphans.ttf');
}

@font-face {
  font-family: "london";
  src:url('../font/LondonBetween.ttf');
}

/*Basic reset or adjust*/
*{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box
}

html, body{
  height: 100%;
  overflow-x: hidden
}

h1,h2{
  position: relative;
  float: right;
  padding-right: 10px;
  text-shadow: 0 0 2px #FFF;
}

h1{
  line-height: 1.55em;
  font-family: orphans;
  font-size: 36px;
  color: #259F25;
  letter-spacing: 0.1em
}

h2{
  font-family: london;
  font-size: 24px;
  color: #F33;
  line-height: 1.35em;
  text-transform: uppercase;
  letter-spacing: 0.03em
}

p{
  font-family: sans-serif;
  line-height: 1.8em;
  text-align: center;
  padding: 0 30px
}

a{
  text-decoration: none
}

svg{
  position: absolute
}

.fa{
  text-decoration: none;
}

/*-------------------------------------------------------------

  #####
 #     #  ####  #    # #####   ####  #    # ###### #    # #####
 #       #    # ##  ## #    # #    # ##   # #      ##   #   #
 #       #    # # ## # #    # #    # # #  # #####  # #  #   #
 #       #    # #    # #####  #    # #  # # #      #  # #   #
 #     # #    # #    # #      #    # #   ## #      #   ##   #
  #####   ####  #    # #       ####  #    # ###### #    #   #

-------------------------------------------------------------*/

/*Generic*/

.hidden{
  overflow: hidden;
}

.open{
  display: block !important;
}

.line{
  height: 1px;
  width: 90%;
  margin: auto;
  background-color: #EDE;
}

.wrapper{
  position: relative;
}

/*Button*/

.btn{
  width: 45%;
  color: #FFF;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 5px;
  padding: 18px 0;
  letter-spacing: 0.2em;
  font-family: sans-serif
}

.btn-form{
  width: 45%;
  margin: 10px 0;
  padding: 6px 0;
  color: #FFF;
  border: none;
  cursor: pointer;
  text-align: center;
  border-radius: 3px;
  letter-spacing: 0.2em;
  font-family: sans-serif;
  background-color: #F60
}

.btn-group{
  padding: 20px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around
}

.btn-disabled{
  cursor: not-allowed;
  color: #EEE;
  background-color: #BBB
}

.btn-buy{
  background-color: #F3A333
}

/*piece*/

.piece{
  position: relative;
}

.piece-name{
  font-size: 30px;
  font-weight: 700;
  color: #E55
}

/*Modal*/

.overlay{
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: none;
  text-align: center;
  z-index: 500;
  background-color: rgba(0, 0, 0, 0.65)
}

.modal{
  overflow: scroll;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  height: 90%;
  width: 80%;
  margin: 10%;
  padding: 20px;
  z-index: 500;
  text-align: center;
  background-color: #FFF
}

.cross{
  float: right;
  cursor: pointer;
  color: #F60;
  font-family: sans-serif;
  font-size: 20px
}

.modal h4{
  line-height: 1.9em;
  padding: 30px 0
}

.modal h4 span{
  color: #2A9A2A
}
.modal h5{
  padding: 20px 0 5px 0;
  text-align: justify;
  font-size: 16px
}

.modal li{
  list-style: none;
  padding: 5px 0;
  text-align: justify;
  font-size: 14px
}

.modal strong{
  font-size: 28px
}

.modal input{
  width: 80%;
  margin: 5px 0;
  border: none;
  border-bottom: 2px solid #F60
}


/*----------------------------------------------

 #     # #######    #    ######  ####### ######
 #     # #         # #   #     # #       #     #
 #     # #        #   #  #     # #       #     #
 ####### #####   #     # #     # #####   ######
 #     # #       ####### #     # #       #   #
 #     # #       #     # #     # #       #    #
 #     # ####### #     # ######  ####### #     #

----------------------------------------------*/

header{
  position: relative
}

header .background{
  height: 300px;
  background-image: url(../img/home1.jpg);
  background-position: -210px -80px;
  background-size: 800px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

/*----------------------------------

 ### #     # ####### ######  #######
  #  ##    #    #    #     # #     #
  #  # #   #    #    #     # #     #
  #  #  #  #    #    ######  #     #
  #  #   # #    #    #   #   #     #
  #  #    ##    #    #    #  #     #
 ### #     #    #    #     # #######

----------------------------------*/

#intro .piece{
  display: flex;
  justify-content: space-around;
  align-items: center
}

#intro .piece:first-child{
  height: 180px
}

#intro .piece:last-child{
  height: 150px;
  width: 100%
}

/*Pieces*/

.seto_intro{
  position: relative;
  transform: rotate(30deg)
}

.minos_intro{
  order: -1;
  position: relative;
  transform: rotate(-30deg)
}

/*----------------------------------------------------

 #####    ##   #####  #   #  ####  ##### ###### #####
 #    #  #  #  #    #  # #  #        #   #      #    #
 #####  #    # #####    #    ####    #   #####  #    #
 #    # ###### #    #   #        #   #   #      #####
 #    # #    # #    #   #   #    #   #   #      #
 #####  #    # #####    #    ####    #   ###### #

----------------------------------------------------*/

#babystep .piece{
  height: 220px;
  width: 100%
}

.seto_2{
  top: 55px;
  left: 50px;
  transform: rotate(-50deg);
}

.minos_2{
  top: 131px;
  left: 139px;
  transform: rotate(10deg)
}

/*---------------------------

 #     #
 ##   ##  ####  #    # ######
 # # # # #    # #    # #
 #  #  # #    # #    # #####
 #     # #    # #    # #
 #     # #    #  #  #  #
 #     #  ####    ##   ######

---------------------------*/

#move .piece{
  height: 220px;
  width: 100%
}

.seto_32{
  top: 80px;
  left: 40px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg)
}

.seto_31{
  top: 26px;
  left: 133px;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg)
}

/*--------------------------------------------------

 #     # #######  #####     #    #     # ###  #####
 ##   ## #       #     #   # #   ##    #  #  #     #
 # # # # #       #        #   #  # #   #  #  #
 #  #  # #####   #       #     # #  #  #  #  #
 #     # #       #       ####### #   # #  #  #
 #     # #       #     # #     # #    ##  #  #     #
 #     # #######  #####  #     # #     # ###  #####

 --------------------------------------------------*/

#mecanic .piece{
  height: 360px;
  width: 100%
}

.minos_4{
  top: 140px;
  left: 120px
}

.seto_41{
  top: 78px;
  left: 22px;
  -webkit-transform: rotate(-60deg);
  transform: rotate(-60deg)
}

.seto_42{
  top: 33px;
  left: 100px
}

.seto_43{
  top: 77px;
  left: 178px;
  -webkit-transform: rotate(60deg);
          transform: rotate(60deg)
}

.seto_44{
  top: 167px;
  left: 178px;
  -webkit-transform: rotate(120deg);
          transform: rotate(120deg)
}

.seto_45{
  top: 212px;
  left: 100px;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg)
}

.seto_46{
  top: 168px;
  left: 22px;
  -webkit-transform: rotate(240deg);
          transform: rotate(240deg)
}

/*--------------------------------------------------------------

  #####  ####### ######     #    ####### #######  #####  #     #
 #     #    #    #     #   # #      #    #       #     #  #   #
 #          #    #     #  #   #     #    #       #         # #
  #####     #    ######  #     #    #    #####   #  ####    #
       #    #    #   #   #######    #    #       #     #    #
 #     #    #    #    #  #     #    #    #       #     #    #
  #####     #    #     # #     #    #    #######  #####     #

--------------------------------------------------------------*/

#strategy .piece{
  position: relative;
  height: 200px;
  width: 100%
}

.seto_51{
  top: 40px;
  left: 43px;
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg)
}

.seto_52{
  top: 40px;
  left: 150px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg)
}

/*------------------------------------------------------

  #####  ####### #     # #######    #     #####  #######
 #     # #     # ##    #    #      # #   #     #    #
 #       #     # # #   #    #     #   #  #          #
 #       #     # #  #  #    #    #     # #          #
 #       #     # #   # #    #    ####### #          #
 #     # #     # #    ##    #    #     # #     #    #
  #####  ####### #     #    #    #     #  #####     #

------------------------------------------------------*/

#contact .content{
  text-align: center;
  padding: 15px 20px
}

.follow{
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-around
}

.btn-mbr{
  align-self: center;
  width: 260px;
  background-color: #2A9A2A
}

.social{
  display: flex;
  justify-content: space-around;
  align-items: center
}

.fa-facebook-square{
  color: #3B5998
}

.fa-twitter-square{
  color: #1DA1F2
}

/*----------------------------------------------

 ####### ####### ####### ####### ####### ######
 #       #     # #     #    #    #       #     #
 #       #     # #     #    #    #       #     #
 #####   #     # #     #    #    #####   ######
 #       #     # #     #    #    #       #   #
 #       #     # #     #    #    #       #    #
 #       ####### #######    #    ####### #     #

----------------------------------------------*/

footer{
  height: 150px;
  background-color: #2A9A2A
}

footer p{
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 20px;
  text-align: center;
  font-size: 14px
}

.mentions{
  width: 100%;
  display: flex;
  flex-direction: column
}

footer span{
  text-align: center;
  font-size: 12px
}

footer a{
  cursor: pointer;
  color: #EEE;
  text-decoration: none
}


/*--------------------------------------

 #     # ####### ######     #    #
 ##   ## #     # #     #   # #   #
 # # # # #     # #     #  #   #  #
 #  #  # #     # #     # #     # #
 #     # #     # #     # ####### #
 #     # #     # #     # #     # #
 #     # ####### ######  #     # #######

--------------------------------------*/

/*TODO : CSS of modal*/

/***** MODAL ACHAT **************************/
.modal-buy > div > div{
  padding: 20px 0
}

.modal-buy > div span{
  display: block;
  line-height: 1.8em
}

.modal-buy b{
  cursor: pointer;
  color: #F82;
  letter-spacing: 0.2em;
  font-size: 26px
}

.modal-buy form{
  display: none;
  margin-bottom: 40px
}

/***** MODAL MEMBER *************************/
.modal-mbr button{
  display: inline-block;
}

/*--------------------------------------------------------------------------
/***** MODAL MENTION LEGAL *************************/
.modal-ml h4{
  padding: 30px 0 10px 0
}

.modal-ml p{
  padding: 5px 0;
  font-size: 10px
}

/***** MODAL CONDITIONS GENERALES DE VENTES *************************/
.modal-cgv p{
  padding: 0;
  text-align: justify;
  font-size: 12px
}


/*--------------------------------------------------------------------------

 ######  #######  #####  ######  ####### #     #  #####  ### #     # #######
 #     # #       #     # #     # #     # ##    # #     #  #  #     # #
 #     # #       #       #     # #     # # #   # #        #  #     # #
 ######  #####    #####  ######  #     # #  #  #  #####   #  #     # #####
 #   #   #             # #       #     # #   # #       #  #   #   #  #
 #    #  #       #     # #       #     # #    ## #     #  #    # #   #
 #     # #######  #####  #       ####### #     #  #####  ###    #    #######

--------------------------------------------------------------------------*/

/*DOING : Responsive mode*/

@media screen and (min-width: 480px) {
  header .background{
    height: 350px;
    background-position: -180px -80px;
    background-size: 900px
  }

  .btn{
    width: 40%
  }

  .btn-group{
    padding: 25px 0px
  }
}

@media screen and (min-width: 600px) {
  header .background{
    height: 380px;
    background-position: -120px -50px;
    background-size: 900px
  }
}

@media screen and (min-width: 750px) {
  header .background{
    height: 450px;
    background-position: -60px 0px;
    background-size: 935px
  }

  header h1, header h2{
    display: none
  }

  header .btn-group{
    transform: translate(0%, -50%);
    position: absolute;
    top: 50%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    width: 100%
    }

  header .btn-disabled{
    order: 1
  }

  /***** Contact *********************************/
  .line{
    display: none
  }

  #contact{
    display: flex;
    flex-direction: column
  }

  #contact .background{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1
  }

  #contact .content{
    display: none
  }

  .follow{
    width: 37.5%
  }

  #contact .btn-mbr{
    width: 80%;
    order: 1
  }

  .btn-group{;
    height: 400px;
    width: 90%;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
    justify-content: space-around
  }

  .btn{
    margin: 20px 30px;
    width: 33%
  }

  /***** Footer **********************************/
  footer .mentions{
    flex-direction: row;
    justify-content: center
  }

  footer span:first-child{
    padding-right: 10px
  }

}

@media screen and (min-width: 860px) {
  header .background{
    height: 470px;
    background-position: -40px 0px;
    background-size: 980px
  }

  .btn{
    width: 30%
  }
}

@media screen and (min-width: 950px) {
  header .background{
    height: 500px;
    background-position: 0px 0px;
    background-size: 1050px
  }

  .btn{
    width: 28.5%
  }

}


@media screen and (min-width: 1060px) {
  header .background{
    height: 600px;
    background-position: 0px 0px;
    background-size: cover
  }

  header .btn-group .btn{
    width: 25%;
  }
}

@media screen and (min-width: 1150px) {
  header .btn-group .btn{
    margin: 40px 75px;
    width: 22.5%;
  }
}
