/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * MAIN..............Vous êtes en train de le lire
 * BASE..............Reset et propriétés de base
 * COMPONENT.........Les composants réutilisables
 * FONT..............Les polices de caractère
 * KEYFRAMES.........Les keyframes utilisés en version mobile
 * PIECE.............Positionnement des pièces et divers effets
 */

#intro .piece-container{
  height: 200px;
  justify-content: space-around
}

#babystep .piece-container{
  height: 370px;
  width: 100%;
}

#move .piece-container{
  height: 220px;
  width: 100%;
}

#mecanic .piece-container{
  height: 360px;
  width: 100%
}

#strategy .piece-container{
  height: 250px;
  width: 100%
}

#contact .content{
  text-align: center;
  padding: 15px 20px
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/



@media screen and (min-width: 750px) {
  #intro{
    display: block
  }

  #intro .piece-container{
    height: 200px;
    width: 62.5%;
  }

  #intro .piece-container:first-child{
    float: right;
  }

  #intro .content{
    width: 37.5%;
    height: 400px;
    float: left;
  }

  #intro .content:after{
    border-right: 1px solid #EDE
  }

  #babystep{
    height: 500px
  }

  #babystep .content{
    height: 200px;
    width: 37.5%;
    border-left: 1px solid #EDE;
    order: 1
  }

  #babystep .piece-container{
    width: 62.5%
  }

  #move{
    height: 600px
  }

  #move .piece-container{
    width: 62.5%
  }

  #move .piece{
    left: 55px;
    top: -60px
  }

  #move .content{
    height: 200px;
    width: 37.5%;
    border-right: 1px solid #EDE
  }

  #mecanic{
    height: 650px
  }

  #mecanic .piece-container{
    width: 62.5%
  }

  #mecanic .piece{
    left: -75px;
    top: 40px
  }

  #mecanic .content{
    height: 250px;
    width: 37.5%;
    border-left: 1px solid #EDE;
    order: 1
  }

  #strategy{
    height: 400px
  }

  #strategy .piece-container{
    width: 62.5%
  }

  #strategy .content{
    height: 200px;
    width: 37.5%;
    border-right: 1px solid #EDE
  }

  #contact{
    flex-direction: column;
    align-items: flex-start
  }

  #contact .background{
    height: 500px;
    width: 100%;
    background-image: url(../img/contact2.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    order: 1
  }

  #contact .content{
    display: none
  }

}
