/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * PIECE.............Vous êtes en train de le lire
 * BASE..............Reset et propriétés de base
 * COMPONENT.........Les composants réutilisables
 * FONT..............Les polices de caractère
 * KEYFRAMES.........Les keyframes utilisés en version mobile
 * MAIN..............Style global de la page
 */

#intro .piece-container .piece:after{
  content: "";
  position: absolute;
  height: 5px;
  width: 5px;
  z-index: -1;
  left: -100%;
  top: 100%;
}

#intro .piece-container:first-child .piece:after{
  box-shadow: 170px 30px 65px 35px #888;
}

#intro .piece-container:last-child .piece:after{
  box-shadow: 100px 30px 40px 20px #888;
}

#intro .piece-container:first-child .piece {
  animation: 3.2s infinite alternate ease-in-out gravity1;
}

#intro .piece-container:last-child .piece{
  animation: 2.8s infinite alternate ease-in-out gravity2 ;
  order: -1;
}

.seto_intro{
  position: relative;
  transform: rotate(30deg)
}

.minos_intro{
  position: relative;
  transform: rotate(-30deg)
}

/*------------------------------------*\
    $BABYSTEP
\*------------------------------------*/



.seto_babystep{
  top: -27px;
  left: -30px;
  transform: translate(-50%, -50%) rotate(-50deg);
  animation: 4.5s infinite ease-in-out clock;
}

.minos_babystep{
  top: 31px;
  left: 39px;
  transform: translate(-50%, -50%) rotate(10deg);
  animation: 2.25s infinite 1.75s alternate ease pulse;
}

/*------------------------------------*\
    $MOVE
\*------------------------------------*/



.seto_move.btmL{
  top: -14px;
  left: 48px;
}

.seto_move.topR{
  top: 40px;
  left: -45px;
}

.minos_move{
  top: 85px;
  left: -123px;
  transform: translate(-50%, -50%);
}

.seto_move1.top{
  top: -5px;
  left: -123px;
}


.seto_move.btmR{
  top: 130px;
  left: -45px;
}

/*------------------------------------*\
    $MECANIC
\*------------------------------------*/



.minos_mecanic{
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}

.seto_mecanic.top{
  top: -90px;
  left: 0px;
}
.seto_mecanic.topR{
  top: -45px;
  left: 78px;
}
.seto_mecanic.btmR{
  top: 45px;
  left: 78px;
}
.seto_mecanic.btm{
  top: 90px;
  left: 0px;
}
.seto_mecanic.btmL{
  top: 45px;
  left: -78px;
}
.seto_mecanic.topL{
  top: -45px;
  left: -78px;
}

.seto_mecanic2.btm{
  top: -54px;
  left: 249px;
}
.seto_mecanic2.btmL{
  top: -99px;
  left: 171px;
}
.seto_mecanic2.topL{
  top: -189px;
  left: 171px;
}

.seto_mecanic3.topL{
  top: 99px;
  left: 171px;
}

/*------------------------------------*\
    $STRATEGY
\*------------------------------------*/



.seto_strategy.topL{
  top: -27px;
  left: -46px;
}

.seto_strategy.btmR{
  top: 27px;
  left: 46px;
}

/*resp*/

.minos_strategy2{
  top: 126px;
  left: 217px;
  transform: translate(-50%, -50%);
}

.seto_strategy2.topL{
  top: 81px;
  left: 139px;
}

.seto_strategy2.btmL{
  top: 171px;
  left: 139px;
}

.seto_strategy2.btm{
  top: 216px;
  left: 217px;
}

.seto_strategy2.btmR{
  top: 171px;
  left: 295px;
}

.minos_strategy3{
  top: 270px;
  left: -33px;
  transform: translate(-50%, -50%);
}

.seto_strategy3.top{
  top: 323px;
  left: 217px;
}

.seto_strategy3.topR{
  top: 224px;
  left: 45px;
}

.seto_strategy3.topL{
  top: 224px;
  left: -111px;
}

.seto_strategy3.btmL{
  top: 314px;
  left: -111px;
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/



@media screen and (min-width: 750px) {
  .seto_babystep{
    animation: none;
  }

  .minos_babystep{
    animation: none;
  }
}
