/*------------------------------------*\
    $MAIN
\*------------------------------------*/
/**
 * PIECE.............Vous êtes en train de le lire
 * BASE..............Reset et propriétés de base
 * COMPONENT.........Les composants réutilisables
 * FONT..............Les polices de caractère
 * KEYFRAMES.........Les keyframes utilisés en version mobile
 * MAIN..............Style global de la page
 */

.seto_intro{
  position: relative;
  transform: rotate(30deg)
}

.minos_intro{
  position: relative;
  transform: rotate(-30deg)
}

/*------------------------------------*\
    $BABYSTEP
\*------------------------------------*/



.seto_babystep{
  top: -27px;
  left: -30px;
  transform: translate(-50%, -50%) rotate(-50deg);
  animation: 4.5s infinite ease-in-out clock;
}

.minos_babystep{
  top: 31px;
  left: 39px;
  transform: translate(-50%, -50%) rotate(10deg);
  animation: 2.25s infinite 1.75s alternate ease pulse;
}

/*------------------------------------*\
    $MOVE
\*------------------------------------*/



.seto_move.btmL{
  top: 130px;
  left:-65px;
}

.seto_move.top{
  top: -5px;
  left: 13px;
}

.seto_move.topL{
  top: 40px;
  left: -65px;
}

.seto_move.topR{
  top: 40px;
  left: -45px;
}

.seto_move2.topR{
  top: 40px;
  left: 91px;
}

.minos_move{
  top: 85px;
  left: 13px;
  transform: translate(-50%, -50%);
}

.seto_move.btmR{
  top: -14px;
  left:-158px;
}

/*------------------------------------*\
    $MECANIC
\*------------------------------------*/

.minos_mecanic{
  top: 0px;
  left: 0px;
  transform: translate(-50%, -50%);
}

.seto_mecanic.top{
  top: -90px;
  left: 0px;
}
.seto_mecanic.topR{
  top: -45px;
  left: 78px;
}
.seto_mecanic.btmR{
  top: 45px;
  left: 78px;
}
.seto_mecanic.btm{
  top: 90px;
  left: 0px;
}
.seto_mecanic.btmL{
  top: 45px;
  left: -78px;
}
.seto_mecanic.topL{
  top: -45px;
  left: -78px;
}

.seto_mecanic2.topR{
  top: 59px;
  left: -71px;
}

.seto_mecanic2.top{
  top: 14px;
  left: -148px;
}

.seto_mecanic2.btmR{
  top: 149px;
  left: -71px;
}

.seto_mecanic3.btmR{
  top: -139px;
  left: -71px;
}

/*------------------------------------*\
    $STRATEGY
\*------------------------------------*/



.seto_strategy.topL.resp2{
  top: -27px;
  left: -46px;
}

.seto_strategy.btmR.resp2{
  top: 27px;
  left: 46px;
}

/*resp*/

.minos_strategy{
  top: 100px;
  left: 100px;
  transform: translate(-50%, -50%);
}

.seto_strategy.top{
  top: 10px;
  left: 100px;
}
.seto_strategy.topR{
  top: 55px;
  left: 178px;
}
.seto_strategy.btmR{
  top: 145px;
  left: 178px;
}
.seto_strategy.btm{
  top: 190px;
  left: 100px;
}
.seto_strategy.btmL{
  top: 145px;
  left: 22px;
}
.seto_strategy.topL{
  top: 55px;
  left: 22px;
}

.minos_strategy2{
  transform: translate(-50%,-50%);
  top: 244px;
  left: -148px;
}

.seto_strategy2.topR{
  top: 199px;
  left: -71px;
}

.seto_strategy2.top{
  top: 154px;
  left: -148px;
}

.seto_strategy2.btmR{
  top: 289px;
  left: -71px;
}

.seto_strategy3.btmR{
  top: 1px;
  left: -71px;
}

.seto_strategy3.topL{
  top: -52px;
  left: -164px;
}

.seto_strategy4.top{
  top: 298px;
  left: 100px;
}

.seto_strategy5.btmL{
  top: 1px;
  left: 271px;
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/



@media screen and (min-width: 750px) {
  .seto_babystep{
    animation: none;
  }

  .minos_babystep{
    animation: none;
  }

  .minos_mecanic{
    top: -40px;
    left: 100px;
    transform: translate(-50%, -50%);
  }

  .seto_mecanic.top{
    top: -130px;
    left: 100px;
  }
  .seto_mecanic.topR{
    top: -85px;
    left: 178px;
  }
  .seto_mecanic.btmR{
    top: 5px;
    left: 178px;
  }
  .seto_mecanic.btm{
    top: 50px;
    left: 100px;
  }
  .seto_mecanic.btmL{
    top: 5px;
    left: 22px;
  }
  .seto_mecanic.topL{
    top: -85px;
    left: 22px;
  }
}
