header{
  position: relative
}

header .background{
  height: 300px;
  background-image: url(../img/home1.jpg);
  background-position: -210px -80px;
  background-size: 800px;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/



@media screen and (min-width: 480px) {
  header .background{
    height: 350px;
    background-position: -180px -80px;
    background-size: 900px
  }

  .btn-group .btn{
    width: 40%
  }

  .btn-group{
    padding: 25px 0px
  }
}

@media screen and (min-width: 600px) {
  header .background{
    height: 380px;
    background-position: -120px -50px;
    background-size: 900px
  }
}

@media screen and (min-width: 750px) {
  header .background{
    height: 450px;
    background-position: -60px 0px;
    background-size: 935px
  }

  header h1, header h2{
    display: none
  }

  header .btn-group{
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    transform: translate(0%, -50%)
  }

  header .btn-disabled{
    order: 1
  }
}

@media screen and (min-width: 860px) {
  header .background{
    height: 470px;
    background-position: -40px 0px;
    background-size: 980px
  }

  .btn-group .btn{
    width: 30%
  }
}

@media screen and (min-width: 950px) {
  header .background{
    height: 500px;
    background-position: 0px 0px;
    background-size: 1050px
  }

  .btn-group .btn{
    width: 28.5%
  }

}


@media screen and (min-width: 1060px) {
  header .background{
    height: 600px;
    background-position: 0px 0px;
    background-size: cover
  }

  header .btn-group .btn{
    width: 25%
  }
}

@media screen and (min-width: 1150px) {
  header .btn-group .btn{
    margin: 40px 75px;
    width: 22.5%
  }
}
