header{
  position: relative
}

header .background{
  height: 300px;
  height: 62.5vh;
  min-height: 300px;
  background-image: url(../../img/home_mobile.jpg);
  background-size: cover;
  padding: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/

@media screen and (min-width: 750px) {
  header .background{
    height: 450px;
    height: 70vh;
    min-height: 450px;
    background-image: url(../../img/home.jpg);
  }

  header h1, header h2{
    display: none
  }

  header .btn-group{
    position: absolute;
    width: 100%;
    top: 50%;
    right: 0;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-around;
    transform: translate(0%, -50%)
  }

  .btn-group .btn{
    width: 30%
  }
}

@media screen and (min-width: 900px) {
  .btn-group .btn{
    width: 28.5%
  }

}


@media screen and (min-width: 1060px) {
  header .btn-group .btn{
    width: 25%
  }
}

@media screen and (min-width: 1150px) {
  header .btn-group .btn{
    margin: 40px 75px;
    width: 22.5%
  }
}
