#modal-ml h3{
  padding-top: 25px
}

#modal-ml h5{
  padding: 20px 20px 0 20px;
  text-transform: uppercase;
  color: #000
}

#modal-cgv p{
  padding: 0 10px;
  text-align: justify
}

/*------------------------------------*\
    $RESPONSIVE
\*------------------------------------*/



@media screen and (min-width: 750px) {
  /*Modal*/

  .modal-content header h3{
    padding-top: 25px
  }

  #modal-ml{
    width: 300px
  }

  #modal-cgv{
    width: 450px
  }

  #modal-cgv p{
    padding: 0 20px;
    line-height: 1.9
  }
}
